body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

.Post{
    background-color: white;
    width: 500px;
    margin: auto;
}

.Head{
    display: flex;
    overflow: auto;
}

.Dots{
    float: right;
}

.Avi img{
    max-height: 50px;
}

.Dots img{
    max-height: 30px;
}

.Image img{
    max-width: 500px;
}

.Bookmark{
    float: right;
    margin-left: 420px;
}

.Icons {
    display: flex;
    margin-left: 5px;
}

.Caption{
    padding: 5px;
    margin-left: 5px;
}

.Likes{
    margin-left: 5px;
}
